### Creez un dataframe

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("clients.csv")

In [3]:
data

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [4]:
data.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

### Accedez au elements dun dataframe

In [5]:
emails = data["email"]
emails.head()

0    LaurentDagenais@rhyta.com
1        GuyMarois@fleckens.hu
2    BeaufortLesage@einrot.com
3    RussellDurand@armyspy.com
4         AlexisRiel@rhyta.com
Name: email, dtype: object

In [6]:
variables = data[["email","genre"]]
variables.head()

                       email genre
0  LaurentDagenais@rhyta.com     M
1      GuyMarois@fleckens.hu     M
2  BeaufortLesage@einrot.com     M
3  RussellDurand@armyspy.com     M
4       AlexisRiel@rhyta.com     M

In [8]:
ids = ~data["identifiant"]
ids

0       -1
1       -2
2       -3
3       -4
4       -5
      ...
223   -224
224   -225
225   -226
226   -227
227   -228
Name: identifiant, Length: 228, dtype: int64

### Creez une colonne

In [9]:
data["neg_ids"] = ids
data.head()

   identifiant                      email               nom genre  neg_ids
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M       -1
1            1      GuyMarois@fleckens.hu        Guy Marois     M       -2
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M       -3
3            3  RussellDurand@armyspy.com    Russell Durand     M       -4
4            4       AlexisRiel@rhyta.com       Alexis Riel     M       -5

### Supprimer une colonne

In [10]:
clients = data.drop(columns="neg_ids")
clients.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [11]:
del data["neg_ids"] #data.pop('id')
data

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

### Renommer une colonne

In [13]:
data = data.rename(columns={'identifiant': 'ide'})
data

     ide                            email                nom genre
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
..   ...                              ...                ...   ...
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227  227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [14]:
data = data.rename(columns={'ide': 'ideee', 'email': 'mail'}) #inplace=True pour modifier lobjet meme
data

     ideee                             mail                nom genre
0        0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1        1            GuyMarois@fleckens.hu         Guy Marois     M
2        2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3        3        RussellDurand@armyspy.com     Russell Durand     M
4        4             AlexisRiel@rhyta.com        Alexis Riel     M
..     ...                              ...                ...   ...
223    223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224    224    ApollineMichaud@superrito.com   Apolline Michaud     F
225    225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226    226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227    227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

### Changer le type dune colonne

In [17]:
data['ideee'].astype(float)

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
       ...
223    223.0
224    224.0
225    225.0
226    226.0
227    227.0
Name: ideee, Length: 228, dtype: float64

### Triez un data frame

In [19]:
data.sort_values('ideee')
#trier selon l’identifiant par ordre décroissant :
data.sort_values('ideee', ascending = False)
# trier selon le genre puis le nom, par ordre croissant :
data.sort_values(['genre', 'nom'])

     ideee                          mail                 nom genre
13      13  AcelineHughes@jourrapide.com      Aceline Hughes     F
135    135     AdelaideBrousse@gustr.com    Adelaide Brousse     F
189    189        AdeleClavette@cuvox.de      Adele Clavette     F
15      15      AgateGrandbois@gustr.com     Agate Grandbois     F
180    180          AgnesBriard@cuvox.de        Agnes Briard     F
..     ...                           ...                 ...   ...
167    167      VerneyCourse@armyspy.com       Verney Course     M
127    127           VickDavid@gustr.com          Vick David     M
192    192   XarlesCaisse@jourrapide.com       Xarles Caisse     M
174    174   ZacharieDuplessis@rhyta.com  Zacharie Duplessis     M
100    100   ZdenekVadnais@superrito.com      Zdenek Vadnais     M

[228 rows x 4 columns]

In [20]:
data.sort_values(['genre', 'nom'], ascending=[True, False])

     ideee                            mail                nom genre
53      53         ZurieTheberge@gustr.com     Zurie Theberge     F
112    112            ZoeLeclair@gustr.com        Zoe Leclair     F
64      64            YvetteDAvis@cuvox.de      Yvette D Avis     F
18      18       YseultCharest@armyspy.com     Yseult Charest     F
158    158        YoletteMoreau@dayrep.com     Yolette Moreau     F
..     ...                             ...                ...   ...
62      62          AleronBerard@rhyta.com      Aleron Berard     M
204    204          AimeMarseau@dayrep.com       Aime Marseau     M
16      16  AgricanFoucault@jourrapide.com   Agrican Foucault     M
7        7        AgramantPepin@dayrep.com     Agramant Pepin     M
202    202      AgramantGrandpre@rhyta.com  Agramant Grandpre     M

[228 rows x 4 columns]

### Filtrez via les indices

#### La méthode.iloc suit la syntaxe suivante :  mon_dataframe.iloc[indice_ligne, indice_colonne]

In [22]:
data.iloc[0,2]

'Laurent Dagenais'

In [24]:
# sélectionner le nom des 10 premiers clients :
clients.iloc[:10, 2]

0      Laurent Dagenais
1            Guy Marois
2       Beaufort Lesage
3        Russell Durand
4           Alexis Riel
5         Leon Lapresse
6      Orville Routhier
7        Agramant Pepin
8    Aiglentina Lambert
9       Theodore Clavet
Name: nom, dtype: object

In [25]:
# sélectionner le genre des 10 premiers clients :
clients.iloc[:10, 3]

0    M
1    M
2    M
3    M
4    M
5    M
6    M
7    M
8    F
9    M
Name: genre, dtype: object

In [26]:
# sélectionner toutes les colonnes des 10 premiers clients :
clients.iloc[:10, :]

   identifiant                          email                 nom genre
0            0      LaurentDagenais@rhyta.com    Laurent Dagenais     M
1            1          GuyMarois@fleckens.hu          Guy Marois     M
2            2      BeaufortLesage@einrot.com     Beaufort Lesage     M
3            3      RussellDurand@armyspy.com      Russell Durand     M
4            4           AlexisRiel@rhyta.com         Alexis Riel     M
5            5          LeonLapresse@cuvox.de       Leon Lapresse     M
6            6      OrvilleRouthier@gustr.com    Orville Routhier     M
7            7       AgramantPepin@dayrep.com      Agramant Pepin     M
8            8  AiglentinaLambert@fleckens.hu  Aiglentina Lambert     F
9            9     TheodoreClavet@teleworm.us     Theodore Clavet     M

In [27]:
# sélectionner l’email et le nom des 10 clients suivants :
clients.iloc[10:20, 1:3]

                             email                 nom
10    ByronLefebvre@jourrapide.com      Byron Lefebvre
11          FlorusDevoe@einrot.com        Florus Devoe
12    NormandArsenault@armyspy.com   Normand Arsenault
13    AcelineHughes@jourrapide.com      Aceline Hughes
14    GastonBrisette@superrito.com     Gaston Brisette
15        AgateGrandbois@gustr.com     Agate Grandbois
16  AgricanFoucault@jourrapide.com    Agrican Foucault
17   PrunellaJosseaume@armyspy.com  Prunella Josseaume
18       YseultCharest@armyspy.com      Yseult Charest
19          DorotheeAupry@cuvox.de      Dorothee Aupry

In [28]:
# sélectionner l’e-mail et le genre des 10 derniers clients :
clients.iloc[-10:, [1, 3]]

                               email genre
218           MinetteRoy@fleckens.hu     F
219         RoslynChalifour@cuvox.de     M
220          KarelBazinet@einrot.com     M
221      JosetteBordeleau@einrot.com     F
222         LangleyCaron@armyspy.com     M
223  ClaudeDandonneau@jourrapide.com     F
224    ApollineMichaud@superrito.com     F
225       PascalineBeaudry@rhyta.com     F
226     FleurCaouette@jourrapide.com     F
227      FrancisMasse@jourrapide.com     M

### Utilisez la sélection via des conditions

#### Celle-ci suit la syntaxe suivante :

mon_dataframe.loc[ condition sur les lignes, colonne(s) ]  .

In [30]:
df = data.copy()

In [31]:
df.head()

   ideee                       mail               nom genre
0      0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1      1      GuyMarois@fleckens.hu        Guy Marois     M
2      2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3      3  RussellDurand@armyspy.com    Russell Durand     M
4      4       AlexisRiel@rhyta.com       Alexis Riel     M

In [32]:
df.loc[df['genre']== 'F', :]

     ideee                             mail                 nom genre
8        8    AiglentinaLambert@fleckens.hu  Aiglentina Lambert     F
13      13     AcelineHughes@jourrapide.com      Aceline Hughes     F
15      15         AgateGrandbois@gustr.com     Agate Grandbois     F
17      17    PrunellaJosseaume@armyspy.com  Prunella Josseaume     F
18      18        YseultCharest@armyspy.com      Yseult Charest     F
..     ...                              ...                 ...   ...
221    221      JosetteBordeleau@einrot.com   Josette Bordeleau     F
223    223  ClaudeDandonneau@jourrapide.com   Claude Dandonneau     F
224    224    ApollineMichaud@superrito.com    Apolline Michaud     F
225    225       PascalineBeaudry@rhyta.com   Pascaline Beaudry     F
226    226     FleurCaouette@jourrapide.com      Fleur Caouette     F

[118 rows x 4 columns]

In [33]:
df.loc[df['genre']== 'M', :]

     ideee                         mail               nom genre
0        0    LaurentDagenais@rhyta.com  Laurent Dagenais     M
1        1        GuyMarois@fleckens.hu        Guy Marois     M
2        2    BeaufortLesage@einrot.com   Beaufort Lesage     M
3        3    RussellDurand@armyspy.com    Russell Durand     M
4        4         AlexisRiel@rhyta.com       Alexis Riel     M
..     ...                          ...               ...   ...
217    217         GanoHetu@fleckens.hu         Gano Hetu     M
219    219     RoslynChalifour@cuvox.de  Roslyn Chalifour     M
220    220      KarelBazinet@einrot.com     Karel Bazinet     M
222    222     LangleyCaron@armyspy.com     Langley Caron     M
227    227  FrancisMasse@jourrapide.com     Francis Masse     M

[110 rows x 4 columns]

In [34]:
df.loc[df['genre']== 'M', : 'ideee']

     ideee
0        0
1        1
2        2
3        3
4        4
..     ...
217    217
219    219
220    220
222    222
227    227

[110 rows x 1 columns]

In [38]:
df.loc[df['genre']== 'M', ['ideee']]

     ideee
0        0
1        1
2        2
3        3
4        4
..     ...
217    217
219    219
220    220
222    222
227    227

[110 rows x 1 columns]

In [39]:
df.loc[df['genre']== 'M', ['ideee','nom']]

     ideee               nom
0        0  Laurent Dagenais
1        1        Guy Marois
2        2   Beaufort Lesage
3        3    Russell Durand
4        4       Alexis Riel
..     ...               ...
217    217         Gano Hetu
219    219  Roslyn Chalifour
220    220     Karel Bazinet
222    222     Langley Caron
227    227     Francis Masse

[110 rows x 2 columns]

In [43]:
df.loc[(df['ideee']>142) & (df['genre']== 'M'), :]

     ideee                         mail                 nom genre
143    143   ToussaintBrodeur@rhyta.com   Toussaint Brodeur     M
144    144     PorterSimard@armyspy.com       Porter Simard     M
145    145   JeromedeLaunay@fleckens.hu     Jeromede Launay     M
146    146        LowellPatel@rhyta.com        Lowell Patel     M
148    148      OlivierAube@armyspy.com        Olivier Aube     M
149    149     FrontinoBrian@einrot.com      Frontino Brian     M
150    150       RochMireault@gustr.com       Roch Mireault     M
152    152    VallisMainville@gustr.com    Vallis Mainville     M
155    155  PierpontFlamand@fleckens.hu    Pierpont Flamand     M
156    156         DanielHuot@rhyta.com         Daniel Huot     M
157    157      HughPoisson@fleckens.hu        Hugh Poisson     M
159    159      GasparReault@dayrep.com       Gaspar Reault     M
162    162     LoyalFouquet@armyspy.com       Loyal Fouquet     M
167    167     VerneyCourse@armyspy.com       Verney Course     M
169    169   PlattParent@jourrapide.com        Platt Parent     M
173    173     BriceGrondin@fleckens.hu       Brice Grondin     M
174    174  ZacharieDuplessis@rhyta.com  Zacharie Duplessis     M
175    175       OgierGervais@gustr.com       Ogier Gervais     M
182    182     BenoitGauvin@teleworm.us       Benoit Gauvin     M
184    184      RolandDupont@einrot.com       Roland Dupont     M
187    187   KarelDandonneau@dayrep.com    Karel Dandonneau     M
188    188    PaienBeauchesne@rhyta.com    Paien Beauchesne     M
192    192  XarlesCaisse@jourrapide.com       Xarles Caisse     M
197    197      HuonDeLaRonde@rhyta.com    Huon De La Ronde     M
199    199   PeverellMazuret@dayrep.com    Peverell Mazuret     M
202    202   AgramantGrandpre@rhyta.com   Agramant Grandpre     M
204    204       AimeMarseau@dayrep.com        Aime Marseau     M
205    205     RogerDeLaRonde@gustr.com   Roger De La Ronde     M
208    208    DenisPatenaude@einrot.com     Denis Patenaude     M
209    209     JulienBeriault@rhyta.com     Julien Beriault     M
211    211    ParfaitBedard@armyspy.com      Parfait Bedard     M
212    212     MandelBarteaux@gustr.com     Mandel Barteaux     M
216    216   ChappellSarrazin@rhyta.com   Chappell Sarrazin     M
217    217         GanoHetu@fleckens.hu           Gano Hetu     M
219    219     RoslynChalifour@cuvox.de    Roslyn Chalifour     M
220    220      KarelBazinet@einrot.com       Karel Bazinet     M
222    222     LangleyCaron@armyspy.com       Langley Caron     M
227    227  FrancisMasse@jourrapide.com       Francis Masse     M

Une autre option de la méthode .loc est la sélection par index. Avant d’aller plus loin sur cet aspect, laissez-moi redéfinir la différence entre des index et des indices ! Les indices, comme nous l’avons vu plus haut, sont la position intrinsèque d’un élément au sein d’un tableau. Les index, en revanche, correspondent à une valeur qui est associée à chaque ligne. C’est ce que vous voyez sur la gauche de votre data frame, Cette situation est intéressante, car si on regarde notre première ligne, son index est 13. Pourtant, c’est bel et bien la première ligne, donc son indice est 0 !!!

Je pense que vous commencez à comprendre la différence : un indice est relatif aux opérations réalisées. Un individu peut avoir le premier indice à un moment, et un tout autre indice en fonction du tri effectué. En revanche, l’index est intrinsèque aux lignes au sein d’un data frame. Peu importe les opérations effectuées, que ce soit un tri, une suppression, etc., l’index sera toujours le même ! La seule condition, c’est que chaque ligne doit avoir un index unique : c’est-à-dire qu’il ne doit pas y avoir deux fois la même valeur au sein d’un index ; on ne pourra par exemple pas avoir 2 fois l’index 0, etc.

Parce qu’il est possible de faire une sélection au sein d’un data frame selon les index, avec la méthode.loc.

Faites le test avec les lignes suivantes :

In [44]:
display(df.loc[0:10, :]) #index 1 to 10
display(df.iloc[0:10, :]) #element 1 to 10

    ideee                           mail                 nom genre
0       0      LaurentDagenais@rhyta.com    Laurent Dagenais     M
1       1          GuyMarois@fleckens.hu          Guy Marois     M
2       2      BeaufortLesage@einrot.com     Beaufort Lesage     M
3       3      RussellDurand@armyspy.com      Russell Durand     M
4       4           AlexisRiel@rhyta.com         Alexis Riel     M
5       5          LeonLapresse@cuvox.de       Leon Lapresse     M
6       6      OrvilleRouthier@gustr.com    Orville Routhier     M
7       7       AgramantPepin@dayrep.com      Agramant Pepin     M
8       8  AiglentinaLambert@fleckens.hu  Aiglentina Lambert     F
9       9     TheodoreClavet@teleworm.us     Theodore Clavet     M
10     10   ByronLefebvre@jourrapide.com      Byron Lefebvre     M

   ideee                           mail                 nom genre
0      0      LaurentDagenais@rhyta.com    Laurent Dagenais     M
1      1          GuyMarois@fleckens.hu          Guy Marois     M
2      2      BeaufortLesage@einrot.com     Beaufort Lesage     M
3      3      RussellDurand@armyspy.com      Russell Durand     M
4      4           AlexisRiel@rhyta.com         Alexis Riel     M
5      5          LeonLapresse@cuvox.de       Leon Lapresse     M
6      6      OrvilleRouthier@gustr.com    Orville Routhier     M
7      7       AgramantPepin@dayrep.com      Agramant Pepin     M
8      8  AiglentinaLambert@fleckens.hu  Aiglentina Lambert     F
9      9     TheodoreClavet@teleworm.us     Theodore Clavet     M

Il est parfois intéressant, après avoir effectué certaines opérations, de réinitialiser ces index – nous verrons un exemple concret, dans la prochaine section, où cela est même nécessaire. C’est possible via la méthode.reset_index() :

In [45]:
# création d’un data frame trié pour ‘désordonner’ les Index
df_temp = df.sort_values('nom')
display(df_temp)
# reset_index :
display(df_temp.reset_index())
# reset_index sans garder les anciens Index :
display(df_temp.reset_index(drop=True))

     ideee                          mail                 nom genre
13      13  AcelineHughes@jourrapide.com      Aceline Hughes     F
135    135     AdelaideBrousse@gustr.com    Adelaide Brousse     F
189    189        AdeleClavette@cuvox.de      Adele Clavette     F
15      15      AgateGrandbois@gustr.com     Agate Grandbois     F
180    180          AgnesBriard@cuvox.de        Agnes Briard     F
..     ...                           ...                 ...   ...
64      64          YvetteDAvis@cuvox.de       Yvette D Avis     F
174    174   ZacharieDuplessis@rhyta.com  Zacharie Duplessis     M
100    100   ZdenekVadnais@superrito.com      Zdenek Vadnais     M
112    112          ZoeLeclair@gustr.com         Zoe Leclair     F
53      53       ZurieTheberge@gustr.com      Zurie Theberge     F

[228 rows x 4 columns]

     index  ideee                          mail                 nom genre
0       13     13  AcelineHughes@jourrapide.com      Aceline Hughes     F
1      135    135     AdelaideBrousse@gustr.com    Adelaide Brousse     F
2      189    189        AdeleClavette@cuvox.de      Adele Clavette     F
3       15     15      AgateGrandbois@gustr.com     Agate Grandbois     F
4      180    180          AgnesBriard@cuvox.de        Agnes Briard     F
..     ...    ...                           ...                 ...   ...
223     64     64          YvetteDAvis@cuvox.de       Yvette D Avis     F
224    174    174   ZacharieDuplessis@rhyta.com  Zacharie Duplessis     M
225    100    100   ZdenekVadnais@superrito.com      Zdenek Vadnais     M
226    112    112          ZoeLeclair@gustr.com         Zoe Leclair     F
227     53     53       ZurieTheberge@gustr.com      Zurie Theberge     F

[228 rows x 5 columns]

     ideee                          mail                 nom genre
0       13  AcelineHughes@jourrapide.com      Aceline Hughes     F
1      135     AdelaideBrousse@gustr.com    Adelaide Brousse     F
2      189        AdeleClavette@cuvox.de      Adele Clavette     F
3       15      AgateGrandbois@gustr.com     Agate Grandbois     F
4      180          AgnesBriard@cuvox.de        Agnes Briard     F
..     ...                           ...                 ...   ...
223     64          YvetteDAvis@cuvox.de       Yvette D Avis     F
224    174   ZacharieDuplessis@rhyta.com  Zacharie Duplessis     M
225    100   ZdenekVadnais@superrito.com      Zdenek Vadnais     M
226    112          ZoeLeclair@gustr.com         Zoe Leclair     F
227     53       ZurieTheberge@gustr.com      Zurie Theberge     F

[228 rows x 4 columns]

In [46]:
df

     ideee                             mail                nom genre
0        0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1        1            GuyMarois@fleckens.hu         Guy Marois     M
2        2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3        3        RussellDurand@armyspy.com     Russell Durand     M
4        4             AlexisRiel@rhyta.com        Alexis Riel     M
..     ...                              ...                ...   ...
223    223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224    224    ApollineMichaud@superrito.com   Apolline Michaud     F
225    225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226    226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227    227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]