### Créez un tableau avec NumPy

Jusque-là, nous n’avons vu que des tableaux/arrays à une dimension, mais on ne travaille que très rarement avec une seule colonne.

Prenons un exemple : vous travaillez dans le milieu bancaire et vous avez besoin de créer un tableau où vous retrouveriez, en plus des revenus de vos clients, leurs mensualités de remboursement de prêt, le nombre d'enfants à charge, et toute autre information susceptible de vous être utile.

Considérons les clients suivants :

=>Hugo, un jeune homme de 21 ans, gagnant 1 400 € par mois et n’ayant aucun enfant ;

=>Richard, un homme de 54 ans, gagnant 2800 € par mois et ayant 2 enfants ;

=>Émilie, une femme de 27 ans gagnant 3 700 € et ayant 3 enfants.

In [1]:
hugo = [21, 1400, 0]
richard = [54, 2800, 2]
emilie = [27, 3700, 3]
tableau = [hugo, richard, emilie]

La listetableau contient donc 3 éléments, qui sont eux-mêmes des listes de 3 éléments : c’est donc une liste de listes. Nous avons néanmoins toujours l’ensemble des limitations liées aux listes, avec cette façon de faire.

Comment pourrions-nous faire alors ?

Vous vous en doutez très certainement, mais oui, encore une fois la réponse se trouve du côté de NumPy et des arrays !

En effet, un array est un objet multidimensionnel, c’est-à -dire qu’il est possible de créer des arrays de toutes dimensions, et que l’ensemble des méthodes d’array prennent en compte ce côté multidimensionnel. Génial, non ? Testons tout cela ensemble ! 
La façon la plus simple de créer un tableau est de le faire à partir d’une liste de listes Python, comme avec une liste classique. Il suffira d'exécuter np.array(tableau) pour transformer notre liste de listes en array NumPy de 3 lignes et 3 colonnes.

Voyons quelques autres exemples ensemble pour bien comprendre cette notion :

In [3]:
import numpy as np 
tab1 = np.array([[1, 2],
    [3, 4],
    [5, 6]]) # un array  tab1  de 3 lignes et 2 colonnes ;

tab2 = np.array([[1, 2, 3],
        [4, 5, 6]]) #et un array  tab2  de 2 lignes et 3 colonnes.

Comme précédemment, nous pouvons également utiliser des fonctions NumPy pour créer des tableaux plus ou moins complexes. Voici quelques exemples de fonctions couramment utilisées :

In [4]:
# un tableau de 3x5 rempli de 1
np.ones((3, 5))
# un tableau de 4 lignes et de 4 colonnes contenant que des 0
np.zeros((4, 4))
# un tableau de 6x3 rempli de valeurs aléatoires comprises entre 0 et 1
np.random.random((6, 3))
# un tableau de 3x3 rempli de valeurs aléatoires entières, comprises entre 1 et 10
np.random.randint(1, 10, size=(3, 3))

array([[7, 5, 7],
       [5, 3, 6],
       [5, 1, 3]])

In [5]:
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

tableau = [hugo, richard, emilie, pierre, paul, deborah,
           yohann, anne, thibault, emmanuel]

display(tableau)

[[1800, 21, 0],
 [1500, 54, 2],
 [2200, 28, 3],
 [3000, 37, 1],
 [2172, 37, 2],
 [5000, 32, 0],
 [1400, 23, 0],
 [1200, 25, 1],
 [1100, 19, 0],
 [1300, 31, 2]]

In [6]:
data = np.array(tableau)
display(data)

array([[1800,   21,    0],
       [1500,   54,    2],
       [2200,   28,    3],
       [3000,   37,    1],
       [2172,   37,    2],
       [5000,   32,    0],
       [1400,   23,    0],
       [1200,   25,    1],
       [1100,   19,    0],
       [1300,   31,    2]])

In [7]:
data[0,0]

1800

In [8]:
data[0]

array([1800,   21,    0])

In [9]:
data[0,]

array([1800,   21,    0])

In [10]:
data[0,:]

array([1800,   21,    0])

In [15]:
data[:,0]

array([1800, 1500, 2200, 3000, 2172, 5000, 1400, 1200, 1100, 1300])

In [17]:
data[data[:,1]<=25]

array([[1800,   21,    0],
       [1400,   23,    0],
       [1200,   25,    1],
       [1100,   19,    0]])

In [18]:
data[data[:,0] > 2000]

array([[2200,   28,    3],
       [3000,   37,    1],
       [2172,   37,    2],
       [5000,   32,    0]])

In [22]:
fred = [1750, 700, 27]
np.vstack((data, fred)) # cree un nouveau array

array([[1800,   21,    0],
       [1500,   54,    2],
       [2200,   28,    3],
       [3000,   37,    1],
       [2172,   37,    2],
       [5000,   32,    0],
       [1400,   23,    0],
       [1200,   25,    1],
       [1100,   19,    0],
       [1300,   31,    2],
       [1750,  700,   27]])

In [23]:
data # lancien ne contient pas fred

array([[1800,   21,    0],
       [1500,   54,    2],
       [2200,   28,    3],
       [3000,   37,    1],
       [2172,   37,    2],
       [5000,   32,    0],
       [1400,   23,    0],
       [1200,   25,    1],
       [1100,   19,    0],
       [1300,   31,    2]])

In [24]:
a = np.linspace(5, 10, 11)

In [25]:
a

array([ 5. ,  5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [26]:
print(a[-3:-1])

[9.  9.5]